<dialog>
    <h1><a href="{{url}}">{{key}}</a></h1>
    <div>
        <span><b>Assignee:</b> <select:user id="user"/></span>
    </div>
    <br/>
    <div>
        <action id="closeAssignDialog" class="tempo-text-color--link"/>
        <action id="assignIssue" class="tempo-text-color--link"/>
    </div>
</dialog>