<dialog>
    <h1>Comment</h1>
    <stextarea/>
    <div>
        <action id="closeCommentDialog" class="tempo-text-color--link"/>
        <action id="commentIssue" class="tempo-text-color--link"/>
    </div>
</dialog>