<dialog>
    <h1>Comment</h1>
    <multiline-input id="comment" placeholder="Add your comment..."/>
    <div>
        <action id="closeCommentDialog" class="tempo-text-color--link"/>
        <action id="commentIssue" class="tempo-text-color--link"/>
    </div>
</dialog>