<dialog>
    <div class="container">
        <div class="header">
            <div class="headerError">
                <img src="{{exclamationUrl}}" />
                <div>Application configuration problem</div>
            </div>
            <p class="value">There is a configuration problem between Symphony and JIRA</p>
            <p class="value">Please check if the public and private key files match and if they
                are correctly configured in Jira's application link section.</p>
        </div>
    </div>
</dialog>