<dialog>
    <div class="container">
        <div class="header">
            <div class="headerError">
                <img src="{{exclamationUrl}}" />
                <div>Application configuration problem</div>
            </div>
            <p class="value">There is no application link configured between Symphony and JIRA</p>
            <p class="value">Go to our detailed setup guide to connect JIRA and Symphony together
                <a href="https://integrations.symphony.com/v1.0/docs/jira-application-link-configuration" class="tempo-btn--link" target="_blank" >here</a>
            </p>
        </div>
    </div>
</dialog>