<dialog>
    <div class="container">
        <div class="content">
            <h3>You cannot access JIRA instance to authorize user</h3>
            <h3>Make sure the <a href="{{baseUrl}}">{{baseUrl}}</a> address exists and you can reach it out.</h3>
        </div>
    </div>
</dialog>