<dialog>
    <div class="container">
        <div class="header">
            <div class="headerError">
                <img src="{{exclamationUrl}}" />
                <div>Error during JIRA authorization process</div>
            </div>
            <p class="value">Please make sure the address <a href="{{baseUrl}}" class="tempo-btn--link">{{baseUrl}}</a> is accessible.</p>
        </div>
    </div>
</dialog>